@import 'tailwindcss';
@theme{
  --primary-color: #f6339a;
  --secondary-color: #f0b100;
  --theme-dark: #000;
  --theme-light: #fff;
  --font-poppins: "Poppins", sans-serif;
  --font-mont: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.animate-marquee:hover{
   animation-play-state: paused;
}

