@import 'tailwindcss';
@theme{
  --color-primary-aqua: #50e3c2;
  --color-secondary-blue: #1e40af;
  --color-theme-dark: #000;
  --color-theme-light: #fff;
  --font-poppins: "Poppins", sans-serif;
  --font-mont: "Montserrat", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

.box {
  --mask:
    radial-gradient(335.41px at 50% 450px,#000 99%,#0000 101%) calc(50% - 300px) 0/600px 100%,
    radial-gradient(335.41px at 50% -300px,#0000 99%,#000 101%) 50% 150px/600px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

@keyframes aurora-vertical-glow {
  0%, 100% { transform: translateY(0) scale(1); opacity: 0.6; }
  50% { transform: translateY(-40px) scale(1.1); opacity: 1; }
}

@keyframes aurora-fade {
  0%, 100% { opacity: 0.3; transform: scale(1); }
  50% { opacity: 0.9; transform: scale(1.05); }
}

@keyframes aurora-wobble {
  0%, 100% { transform: translateX(0) rotate(0deg); }
  50% { transform: translateX(15px) rotate(2deg); }
}

.animate-aurora-vertical {
  animation: aurora-vertical-glow 4s ease-in-out infinite;
}
.animate-aurora-fade {
  animation: aurora-fade 8s ease-in-out infinite;
}
.animate-aurora-wobble {
  animation: aurora-wobble 12s ease-in-out infinite;
}


/* @keyframes aurora-vertical {
  0%, 100% {
    transform: scaleY(1);
    opacity: 0.6;
  }
  50% {
    transform: scaleY(1.4);
    opacity: 1;
  }
}


.animate-aurora-vertical {
  animation: aurora-vertical 6s ease-in-out infinite;
} */


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.animate-marquee:hover{
   animation-play-state: paused;
}

